table-wrapper {
  overflow-x: auto;
  container: table-wrapper/inline-size;
}

table {
  border-top: 1px solid #bcc1b9;
  border-left: 1px solid #bcc1b9;
  width: 100%;
  min-width: 540px;
  border-collapse: separate;
  border-spacing: 0;
  td {
    border-right: 1px solid #bcc1b9;
    border-bottom: 1px solid #bcc1b9;
    min-width: 11em;
    padding: .55em .8em;
    background: #fbfbf8;
    font-size: .82em;
    vertical-align: middle;
    @container(width < 630px){
      &:not([theme="action"]) {
        position: sticky;
        z-index: 1;
        left: 0;
        box-shadow: 2px 0 4px #24292c0f;
        min-width: 9em;
      }
    }
    & > * {
      font-size: inherit;
    }
    a {
      color: oklch(68.195% 0.1915 45.204);
    }
    &[theme="action"] {
      background: #eef4f4;
      font-size: .64em;
      font-family: var(--font-mono);
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: .06em;
      color: #24292c;
    }
    &[theme="optional"] {
      background-image: linear-gradient(45deg, #eeeef4 25%, #eef4f4 25%, #eef4f4 50%, #eeeef4 50%, #eeeef4 75%, #eef4f4 75%, #eef4f4 100%);
      background-size: 14px 14px;
      font-size: .64em;
      font-family: var(--font-mono);
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: .06em;
      color: #24292c;
    }
  }
}